@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    --main-color: #6B256F;
    --second-color: #EBD1ED;
    --feature-color: #b935c0;
    --light-color: #fff;
    --dark-color: #000;
    --main-font: 'League Spartan', sans-serif;
    --second-font:  'Pacifico', cursive;
}

body {
    font-family: var(--main-font);
    width: 100vw;
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title, .sub-title {
    font-family: var(--second-font);
}

.header {
    width: 100%; 
    height: 10rem;
    background-color: var(--main-color);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: 100%;
    transform: scale(2.3);
}

main {
    width: 70vw;
    margin: 0 auto;
}


.main-title {
    margin-bottom: 5rem;
}

.title {
    text-align: center;
    color: var(--main-color);
    font-size: 5rem;
    font-weight: 800;
}

.infos {
    text-align: center;
}

.infos-dados {
    display: inline-block;
    text-align: center;
    
}

.infos-result, .infos-dados {
    display: inline-block;
    width: 40%;
}

.sub-title {
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 800;
    margin: 0 0 2rem 0;
    text-align: left;
}

.label-main-large {
    position: relative;
    display: inline-block;
    background-color: var(--main-color);
    color: var(--light-color);
    padding: .75rem 1rem;
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 1.5rem;
    width: 15rem;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    border: none;
    z-index: 1;

}

#bt-calc {
    cursor: pointer;
    transition: 200ms;
}

#bt-calc:hover {
    background-color: var(--feature-color);
}

.field-main-large {
  background-color: var(--second-color);
  color: var(--main-color);
  cursor: pointer;
  border: 3px solid var(--second-color);
  border-radius: 20px;
  padding-left: .8rem;
  font-family: var(--main-font);
  font-size: 1.5rem;
  width: 10rem;
  transition: 1000ms;
  box-sizing: border-box;
  display: inline-block;
  height: 2.8rem;
  padding-left: 1rem;
  position: relative;
  right: 4rem;
  text-align: right;

}

.field-main-large:hover {
    border-color: var(--main-color);
}


#type_resina {
    height: 2.8rem;
    width: 10rem;
    text-align: right;
}

.infos-dados-fields {
    margin: 1rem auto;
}

.bt-clear-large {
    display: inline-block;
    background-color: var(--second-color);
    color: var(--dark-color);
    padding: .5rem 1rem;
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 1.5rem;
    width: 10rem;
    height: 2.8rem;
    text-align: center;
    cursor: pointer;
    transition: 1000ms;
    border: 1px solid var(--second-color);
    text-transform: uppercase;
    border-radius: 20px;
    box-sizing: border-box;
}

.bt-clear-large:hover {
    background-color: var(--feature-color);
}

.infos-result-fields {
    margin-bottom: 1rem;
    padding-left: 3rem;
}

.label-main-small {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--light-color);
    padding: .5rem 1rem;
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 1.5rem;
    width: 12rem;
    height: 2.4rem;
    text-align: left;
    transition: 1000ms;
    border: 1px solid var(--main-color);
    text-transform: lowercase;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    right: 1.5rem;
}

.field-main-small {
    display: inline-block;
    height: 2rem;
    background-color: var(--second-color);
    color: var(--main-color);
    border: 3px solid var(--second-color);
    padding-left: .8rem;
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 1.5rem;
    width: 5.5rem;
    height: 2.4rem;
    transition: 1000ms;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;          
}


@media (max-width: 1624px) { 
    .title {
        font-size: 4.5rem;
    }
    .infos {
        text-align: initial;
    }
    .infos-dados, .infos-result {
        width: 100%;
        
    }
    .infos-result {
        text-align: center;
        margin-top: 3rem;
    }

    .sub-title {
        text-align: center;
    }

    .infos-dados-fields, .infos-dados-buttons {
        display: inline-block;
        width: 50%;
    }
}

@media (max-width: 1298px) { 

    .infos-dados-fields, .infos-dados-buttons {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 425px) { 

    .title {
        font-size: 3rem;
    }

    .sub-title {
        font-size: 2.5rem;
    }

    .infos-dados-fields, .infos-dados-buttons {
        display: inline-block;
        width: 100%;
    }
    .field-main-large{
        right: 0;
        margin-top: .5rem;
    }
    .bt-clear-large {
        margin: .75rem 0;
    }

    .field-main-small {
        font-size: 1rem;
        width: 4rem;
    }

    .label-main-small {
        font-size: 1rem;
        width: 8.5rem;
        right: 1rem;
        top: -3px;
    }
}

@media (max-width: 375px) { 
    .logo {
        transform: scale(2);
    }

    .main-title {
        margin-bottom: 3rem
    }

    .label-main-large {
        width: auto;
        
    }

    .label-main-small {
        right: .7rem;
    }

    .infos-result-fields {
        padding-left: 0;
    }

    .field-main-large {
        text-align: center;
    }

    .field-main-small {
        font-size: 1rem;
        width: 3rem;
        
    }
}