@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

@font-face {
    font-family: 'Intro Script';
    src: url('./IntroScriptDemo-Medium.otf') format('truetype');
  }

:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    --main-color: #6B256F;
    --second-color: #EBD1ED;
    --light-color: #fff;
    --dark-color: #000;
    --main-font: 'League Spartan', sans-serif;
    --second-font: "Intro Script", monospace;
}

body {
    font-family: var(--main-font);
    width: 130vh;
    height: 100vh;
    margin: 0 auto;
    background-color: #eee;
}

.title, .sub-title {
    font-family: var(--second-font);
}

header {
    margin-bottom: 1.5rem;
}

h1 {
    color: #000;
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

form li {
    margin-bottom: .5rem;
}

option, input, select {
    font-size: 1rem;
}

button {
    font-size: 1rem;
    background-color: #aaa;
    color: #000;
    padding: 0.3rem;
    font-weight: bold;
}